h1 {color:darkorange}
h2 {color:white}
body {background-color: black;}
#pele {width: 70%;}
h1 {font-size: 400%;}
h1 {text-align: center;}
#pele {margin-left: 15%;}
#pele2 {margin-left: 15%;}
#pelet {margin-left: 15%}
#pelea {width: 65%;}
#pelea {margin-left: 15%;}
#pelem {width: 65%;}
#pelem {margin-left: 15%;}
h3 {text-align: center;}
h3 {color: white;}
h3 {font-size: 1400%;}